* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #25262c;
  padding: 60px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1c22;
  height: 90vh;
  width: 90vw;
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 26px;
  }
}
.image {
  height: 120px;
  width: 110px;
}
@media screen and (min-width: 768px) {
  .image {
    height: 500px;
    width: 300px;
  }
}
